{
    "version":1,
    "partitions":
    [
    {% for desc in topic_description %}
    {% if (desc[2] | int) < kafka_replication_factor %}
    {% for partition in range(desc[1] | int) %}
    {"topic": "{{ desc[0] }}",
        "partition": {{ partition }},
        "replicas": {% if loop.index % 2 %}[{% for repl in range(kafka_replication_factor)|reverse %}{{ repl }}{% if not loop.last %},{% endif %}{% endfor %}]{% else %}[{% for repl in range(kafka_replication_factor) %}{{ repl }}{% if not loop.last %},{% endif %}{% endfor %}]{% endif %}
    }{% if not loop.last %},{% endif %}
    {% endfor %}
    {% if not loop.last %},{% endif %}
    {% endif %}
    {% endfor %}
    ]
}
